@import 'reset.main';
@import 'variables/global.main';
@import 'themes/normal.main';
@import 'themes/dark.main';
@import 'themes/orange.main';
@import 'scrollbar/index.main';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
