.list {
  width: 100%;

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .footer {
    margin-top: 16px;
  }

  .img {
    margin-top: 8px;
  }
}

.tile {
  width: 230px;
  transition: 0.2s;
  cursor: pointer;

  .date {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
