.list {
  .card {
    margin-bottom: 30px;
  }
}

.tile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  .card {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

.horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  max-width: 100%;

  .card {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
