.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  height: 410px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}
